@font-face {
  font-family: "iconfont"; /* Project id 2399012 */
  src: url('iconfont.woff2?t=1636356876991') format('woff2'),
       url('iconfont.woff?t=1636356876991') format('woff'),
       url('iconfont.ttf?t=1636356876991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-center:before {
  content: "\e72e";
}

.icon-collapse1:before {
  content: "\e6d8";
}

.icon-expand1:before {
  content: "\e71a";
}

.icon-create_sibling_node:before {
  content: "\e685";
}

.icon-Colorpicker:before {
  content: "\e666";
}

.icon-column-string:before {
  content: "\ea8b";
}

.icon-column-number:before {
  content: "\e640";
}

.icon-file-pin:before {
  content: "\e6dc";
}

.icon-show-list:before {
  content: "\e63d";
}

.icon-show-chart:before {
  content: "\e668";
}

.icon-vote-score:before {
  content: "\e7b9";
}

.icon-vote-select:before {
  content: "\e639";
}

.icon-card-list:before {
  content: "\e730";
}

.icon-unhide:before {
  content: "\e752";
}

.icon-edit:before {
  content: "\e6c5";
}

.icon-reset:before {
  content: "\e638";
}

.icon-locked:before {
  content: "\e62c";
}

.icon-unlocked:before {
  content: "\e633";
}

.icon-hide:before {
  content: "\e76d";
}

.icon-move-to-left:before {
  content: "\e659";
}

.icon-move-to-right:before {
  content: "\ee55";
}

.icon-columns:before {
  content: "\e68b";
}

.icon-change-line:before {
  content: "\e658";
}

.icon-code-inline:before {
  content: "\e655";
}

.icon-code-block:before {
  content: "\e656";
}

.icon-quote:before {
  content: "\e657";
}

.icon-vote:before {
  content: "\e66d";
}

.icon-import:before {
  content: "\e675";
}

.icon-drag:before {
  content: "\e654";
}

.icon-task-card:before {
  content: "\ec35";
}

.icon-test:before {
  content: "\e66a";
}

.icon-audio:before {
  content: "\ea48";
}

.icon-gitea:before {
  content: "\eba0";
}

.icon-matrix:before {
  content: "\ec0a";
}

.icon-telegram:before {
  content: "\e78f";
}

.icon-discord:before {
  content: "\e6e0";
}

.icon-form:before {
  content: "\e614";
}

.icon-append-child:before {
  content: "\e671";
}

.icon-append:before {
  content: "\e672";
}

.icon-fit-map:before {
  content: "\e65e";
}

.icon-actual-size:before {
  content: "\e665";
}

.icon-zoom-in:before {
  content: "\e7b7";
}

.icon-zoom-out:before {
  content: "\e7b8";
}

.icon-delete:before {
  content: "\e623";
}

.icon-collapse:before {
  content: "\e65f";
}

.icon-loading:before {
  content: "\e757";
}

.icon-i-sound:before {
  content: "\e632";
}

.icon-expand:before {
  content: "\e653";
}

.icon-fund:before {
  content: "\e61f";
}

.icon-menu:before {
  content: "\e612";
}

.icon-logout:before {
  content: "\e838";
}

.icon-layout:before {
  content: "\e631";
}

.icon-user-switch:before {
  content: "\ea3d";
}

.icon-reconciliation:before {
  content: "\ea43";
}

.icon-interaction:before {
  content: "\e622";
}

.icon-fullscreen:before {
  content: "\e731";
}

.icon-fullscreen-exit:before {
  content: "\e69b";
}

.icon-schedule:before {
  content: "\e630";
}

.icon-delivered-procedure:before {
  content: "\e613";
}

.icon-folder-add:before {
  content: "\e6c1";
}

.icon-cloud-upload:before {
  content: "\e611";
}

.icon-column-height:before {
  content: "\e721";
}

.icon-hourglass:before {
  content: "\e8ce";
}

.icon-reload:before {
  content: "\e86f";
}

.icon-file-excel:before {
  content: "\e62f";
}

.icon-file-ppt:before {
  content: "\e9e8";
}

.icon-file-word:before {
  content: "\e9eb";
}

.icon-read-filled:before {
  content: "\e704";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-database:before {
  content: "\e610";
}

.icon-wechat:before {
  content: "\e60b";
}

.icon-dingding:before {
  content: "\e684";
}

.icon-slack:before {
  content: "\e915";
}

.icon-partition:before {
  content: "\e650";
}

.icon-paperclip:before {
  content: "\e749";
}

.icon-file-done:before {
  content: "\e6e9";
}

.icon-book:before {
  content: "\e61e";
}

.icon-file-warning-line:before {
  content: "\ee54";
}

.icon-user-delete:before {
  content: "\e761";
}

.icon-warning:before {
  content: "\e625";
}

.icon-tool:before {
  content: "\e669";
}

.icon-safety:before {
  content: "\e667";
}

.icon-api:before {
  content: "\e6e3";
}

.icon-diff:before {
  content: "\e725";
}

.icon-disconnect:before {
  content: "\e726";
}

.icon-user-add:before {
  content: "\e760";
}

.icon-export:before {
  content: "\e61d";
}

.icon-security-scan:before {
  content: "\e7c0";
}

.icon-branches:before {
  content: "\ea14";
}

.icon-share-alt:before {
  content: "\e870";
}

.icon-bar-chart:before {
  content: "\e859";
}

.icon-star-filled:before {
  content: "\e60e";
}

.icon-star:before {
  content: "\e872";
}

.icon-coffee:before {
  content: "\e60f";
}

.icon-comment:before {
  content: "\e7b6";
}

.icon-pin:before {
  content: "\e75d";
}

.icon-care-down:before {
  content: "\e62d";
}

.icon-care-up:before {
  content: "\e62e";
}

.icon-ellipsis:before {
  content: "\e750";
}

.icon-save:before {
  content: "\e762";
}

.icon-unorderedlist:before {
  content: "\e748";
}

.icon-file:before {
  content: "\e618";
}

.icon-table:before {
  content: "\e894";
}

.icon-pie-chart:before {
  content: "\e86e";
}

.icon-team:before {
  content: "\e67d";
}

.icon-border:before {
  content: "\e7a9";
}

.icon-border-outer:before {
  content: "\e7aa";
}

.icon-border-top:before {
  content: "\e7ab";
}

.icon-border-bottom:before {
  content: "\e7ac";
}

.icon-border-left:before {
  content: "\e7ad";
}

.icon-border-right:before {
  content: "\e7ae";
}

.icon-border-inner:before {
  content: "\e7af";
}

.icon-border-verticle:before {
  content: "\e7b0";
}

.icon-border-horizontal:before {
  content: "\e7b5";
}

.icon-vertical-align-bottom:before {
  content: "\e7ef";
}

.icon-vertical-align-middle:before {
  content: "\e7f0";
}

.icon-vertical-align-top:before {
  content: "\e7f1";
}

.icon-sort-descending:before {
  content: "\e7f2";
}

.icon-sort-ascending:before {
  content: "\e7f3";
}

.icon-align-right:before {
  content: "\e7f5";
}

.icon-align-center:before {
  content: "\e7f6";
}

.icon-align-left:before {
  content: "\e7f7";
}

.icon-bold:before {
  content: "\e7f8";
}

.icon-font-colors:before {
  content: "\e7f9";
}

.icon-font-size:before {
  content: "\e7fa";
}

.icon-strikethrough:before {
  content: "\e7fb";
}

.icon-underline:before {
  content: "\e7fc";
}

.icon-italic:before {
  content: "\e7fd";
}

.icon-bg-colors:before {
  content: "\e800";
}

.icon-redo:before {
  content: "\e95d";
}

.icon-undo:before {
  content: "\e96a";
}

.icon-Function:before {
  content: "\e90e";
}

.icon-fx:before {
  content: "\e683";
}

.icon-form-radioMatrix:before {
  content: "\e608";
}

.icon-minus:before {
  content: "\e7b1";
}

.icon-form-checkboxMatrix:before {
  content: "\e609";
}

.icon-stop:before {
  content: "\e60d";
}

.icon-file-zip:before {
  content: "\e616";
}

.icon-tag:before {
  content: "\e62b";
}

.icon-invisible:before {
  content: "\e6fe";
}

.icon-visible:before {
  content: "\e746";
}

.icon-unlock:before {
  content: "\e773";
}

.icon-flag:before {
  content: "\e7ce";
}

.icon-inbox:before {
  content: "\e61c";
}

.icon-info-circle:before {
  content: "\e61a";
}

.icon-play-circle:before {
  content: "\e701";
}

.icon-mobile:before {
  content: "\e759";
}

.icon-left-circle:before {
  content: "\e755";
}

.icon-right-circle:before {
  content: "\e765";
}

.icon-plus-circle:before {
  content: "\e742";
}

.icon-minus-circle:before {
  content: "\e75f";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-arrow-down:before {
  content: "\e7b4";
}

.icon-copy:before {
  content: "\e6f3";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-smile:before {
  content: "\e766";
}

.icon-setting:before {
  content: "\e76c";
}

.icon-creditcard:before {
  content: "\e770";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-download:before {
  content: "\e74d";
}

.icon-upload:before {
  content: "\e76b";
}

.icon-bell:before {
  content: "\e60a";
}

.icon-close:before {
  content: "\e747";
}

.icon-mail:before {
  content: "\e74f";
}

.icon-plus:before {
  content: "\e624";
}

.icon-check-circle:before {
  content: "\e651";
}

.icon-close-circle:before {
  content: "\e652";
}

.icon-user:before {
  content: "\e7b2";
}

.icon-question:before {
  content: "\e626";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-form-subtitle:before {
  content: "\e68e";
}

.icon-form-firsttitle:before {
  content: "\e68d";
}

.icon-form-markdown:before {
  content: "\e72c";
}

.icon-form-divider:before {
  content: "\e960";
}

.icon-link:before {
  content: "\e756";
}

.icon-open:before {
  content: "\e75e";
}

.icon-create-file:before {
  content: "\e660";
}

.icon-check:before {
  content: "\e60c";
}

.icon-git-commit:before {
  content: "\e617";
}

.icon-git-pull-request:before {
  content: "\e619";
}

.icon-issue-closed:before {
  content: "\e61b";
}

.icon-repo-forked:before {
  content: "\e627";
}

.icon-clone:before {
  content: "\e628";
}

.icon-push:before {
  content: "\e629";
}

.icon-pull:before {
  content: "\e62a";
}

.icon-milestone:before {
  content: "\e620";
}

.icon-calendar:before {
  content: "\e615";
}

.icon-profile:before {
  content: "\e621";
}

.icon-repo:before {
  content: "\e64f";
}

.icon-dashboard:before {
  content: "\e703";
}

.icon-ratereview:before {
  content: "\ecc6";
}

.icon-analytics-graph-bar:before {
  content: "\e698";
}

.icon-feeds:before {
  content: "\e751";
}

.icon-share:before {
  content: "\e764";
}

.icon-form-title:before {
  content: "\e64e";
}

.icon-form-progress:before {
  content: "\e648";
}

.icon-form-rate:before {
  content: "\e64b";
}

.icon-form-radioButton:before {
  content: "\e649";
}

.icon-form-radio:before {
  content: "\e64a";
}

.icon-form-code:before {
  content: "\e64c";
}

.icon-form-switch:before {
  content: "\e64d";
}

.icon-form-checkbox:before {
  content: "\e644";
}

.icon-form-select:before {
  content: "\e645";
}

.icon-form-password:before {
  content: "\e647";
}

.icon-form-digit:before {
  content: "\e63f";
}

.icon-form-time:before {
  content: "\e641";
}

.icon-form-textarea:before {
  content: "\e642";
}

.icon-form-date:before {
  content: "\e643";
}

.icon-form-money:before {
  content: "\e646";
}

.icon-form-image:before {
  content: "\e63e";
}

.icon-options-vertical:before {
  content: "\e607";
}

.icon-trash:before {
  content: "\e66e";
}

.icon-folder-empty:before {
  content: "\e66b";
}

.icon-folder:before {
  content: "\e72d";
}

.icon-folder-open:before {
  content: "\e682";
}

.icon-box:before {
  content: "\e600";
}

.icon-pencil:before {
  content: "\e63b";
}

.icon-pdf:before {
  content: "\e63c";
}

.icon-move:before {
  content: "\e63a";
}

.icon-sort:before {
  content: "\e636";
}

.icon-project:before {
  content: "\e637";
}

.icon-openid:before {
  content: "\e635";
}

.icon-send:before {
  content: "\e634";
}

.icon-issue-opened:before {
  content: "\e605";
}

.icon-issue-alert:before {
  content: "\e604";
}

.icon-issues-close:before {
  content: "\e606";
}

.icon-key:before {
  content: "\e603";
}

.icon-gitpr:before {
  content: "\e602";
}

.icon-merge:before {
  content: "\e601";
}

